.shopping-cart {
  position: fixed;
  font-size: 48px;
  color: #63cdda;
  bottom: 5rem;
  right: 5rem;
}

.shopping-cart-counter{
  visibility: hidden;
  position: relative;
  font-weight: 600;
  font-size: 36px;
  color: black;
  bottom: -1rem;
  right: -1.2rem;
}

.shopping-cart-counter-add{
  position: relative;
  font-weight: 600;
  font-size: 36px;
  color: #63cdda;
  bottom: -1rem;
  right: -1.2rem;
}

.shopping-cart-counter-drop{
  position: relative;
  font-weight: 600;
  font-size: 36px;
  color: #cf6a87;
  bottom: -1rem;
  right: -1.2rem;
}

.zoom-add {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  width: 40px;
  opacity: 0;
  animation: zoom-add 1s ease forwards;
}

@keyframes zoom-add {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0; right: 1rem; bottom: 1rem}
}

.zoom-drop {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 40px;
  opacity: 0;
  animation: zoom-drop 1s ease forwards;
}

@keyframes zoom-drop {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0; right: 5rem; bottom: 5rem}
}

