.shopping-cart {
  position: fixed;
  font-size: 48px;
  color: #63cdda;
  bottom: 5rem;
  right: 5rem;
}

.shopping-cart-counter{
  text-align: center;
  visibility: hidden;
  position: relative;
  border: none;
  border-radius: 50%;
  background-color: #ffbe76;
  font-weight: 600;
  font-size: 36px;
  color: black;

}

.shopping-cart-counter-add{
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  border: none;
  border-radius: 30%;
  background-color: #ffbe76;
  color: #63cdda;

}

.shopping-cart-counter-drop{
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  border: none;
  border-radius: 30%;
  background-color: #ffbe76;
  color: #cf6a87;

}

.zoom-add {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  width: 40px;
  opacity: 0;
  animation: zoom-add 1s ease forwards;
}

@keyframes zoom-add {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 0; right: 1rem; bottom: 1rem}
}

.zoom-drop {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 40px;
  opacity: 0;
  animation: zoom-drop 1s ease forwards;
}

@keyframes zoom-drop {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 0; right: 5rem; bottom: 5rem}
}

.total-price{
  visibility: hidden;
  color: black;
  font-size: 24px;
  display: flex;
  flex-direction: row;
}
