.shopping-cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  font-size: 48px;
  color: #63cdda;
  bottom: 4rem;
  right: 5rem;
}

.shopping-cart-counter{
  color: black;
  font-size: 20px;
  z-index: 100;
  margin-bottom: -1.5em;
  margin-left: 0.2em;
  pointer-events: none;
}

.shopping-cart-counter-add{
  color: black;
  font-size: 20px;
  z-index: 100;
  margin-bottom: -1.5em;
  margin-left: 0.2em;
  pointer-events: none;
}

.shopping-cart-counter-drop{
  color: #cf6a87;
  font-size: 20px;
  z-index: 100;
  margin-bottom: -1.5em;
  margin-left: 0.2em;
  pointer-events: none;

}

.zoom-add {
  position: absolute;
  bottom: 10rem;
  right: 10rem;
  width: 40px;
  opacity: 0;
  animation: zoom-add 1s ease forwards;
}

@keyframes zoom-add {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 0; right: 0rem; bottom: 0rem}
}

.zoom-drop {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 40px;
  opacity: 0;
  animation: zoom-drop 1s ease forwards;
}

@keyframes zoom-drop {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 0; right: 10rem; bottom: 10rem}
}

.total-price{
  margin-left: 0rem;
  visibility: hidden;
  color: black;
  font-size: 24px;
  display: flex;
  flex-direction: row;
}

.place-order {
  position: fixed;
  bottom: 1.5rem;
  right: 5rem;
}

@media screen and (max-width: 1124px) {
  .shopping-cart {
    margin-right: -0.8em;
  }
  .place-order{
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;

  }
}
@media screen and (max-width: 624px) {
  .shopping-cart {
    margin-right: -1.4em;
  }
  .total-price-value, .total-price span{
    font-size: 0.7em;
  }

}
