body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
