.login-form {
  justify-content: center;
  text-align: center;
  width: 40%;
  display: none;
}
.login-form .title {
  margin-top: 0.5em
}
.login-content {
  width: 70%;
  margin: 0 0 3em 0;
}
.login-control {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#email, #password, #name, #phone, #address, #reg-email, #reg-password {
  margin-top: 1em;
}

#login, #signup {
  margin-top: 1.5em;
}

.flex {
  display: flex;
  flex-direction: column;
  z-index: 10000;
  position: fixed;
  top: 3em;
}

#exit {
  font-size: 0.8em;
  align-self: flex-start;
  margin: 2em 0 -2em 2em;

}

.cover {
  /* background-color: rgba(255,255,255,0.5); */
  background-color: black;
  height: 99vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  opacity: 40%;
  display: none;
  top: 56px; /* height of nav right now */
}

#submit {
  display: none;
}

#register {
  display: none;
}

.error {
  margin-top: 0.5em;
  color: red;
}

@media screen and (max-width: 1124px) {
  .flex{
    width: 60vw;
  }
}

@media screen and (max-width: 512px) {
  .flex{
    width: 80vw;
  }
}
