.menu-container-blur{
  opacity: 0.3;
  z-index: -1;
}

.card {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  padding: 0.3em;
  /* margin-bottom: 2em; */
  margin-top: 2em;
}

.min-img {
  display: none;
}

.card-image{
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
}
.card-image img {
  padding-left: 1em;
  border-radius: 15%;
  height: 100%;
  width: 100%;
}
.card-content {
  width: 60%;

}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.order-value {
  display: flex;
}
.increment-order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

.quantity {
  visibility: hidden;
  font-weight: 600;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 15px;
  color: black;
}

.quantity-add {
  font-weight: 600;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 15px;
  color: #63cdda;
}

.quantity-drop {
  font-weight: 600;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 15px;
  color: #cf6a87;
}

.quantity-hover {
  font-weight: 600;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 15px;
  color: #f5cd79;
}

.drop-button {
  visibility: hidden;
}

/* @media screen and (max-width: 1224px) {
  .description{
    display: none;
  }
} */
@media screen and (max-width: 1224px) {
  .card{
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .card-content{
    width: 90%;
  }
  .min-img {
    display:inline-flex
  }
  .card-image {
    display: none;
  }
  .media{
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .description{
    display: none;
  }
  .card-content{
    width: 100%;
  }
}
@media screen and (max-width: 524px) {

  .card{
    font-size: 0.8em;
  }
}


