.my-cart {
  display: none;
}

.my-cart-flex {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
  position: relative;
  margin-top: 10em;
}

.cart-name {
  display: flex;
  flex-direction: column;
}

.cart-price {
  display: flex;
  flex-direction: column;
}

.my-cart-quantity {
  display: flex;
  flex-direction: column;
}

.cart-total-price {
  margin-top: 1em;
  font-weight: 600px;
  font-size: 24px;
}

#my-cart-exit{
  font-size: 0.8em;
  align-self: flex-start;
  margin: 2em 0 -2em 2em;

}

#my-cart > .card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
