.my-cart {
  display: none;
}

.my-cart-flex {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
  position: relative;
  margin-top: 10em;
}

.cart-name {
  display: flex;
  flex-direction: column;
}

.cart-price {
  display: flex;
  flex-direction: column;
}

.my-cart-quantity {
  display: flex;
  flex-direction: column;
}

.cart-total-price {
  margin-top: 1em;
  font-weight: 600px;
  font-size: 24px;
}
