.my-order-detail {
  display: none;
}

.my-order-detail-flex {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
  position: relative;
  top: 1em;
}

.my-order-detail-flex > .card{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}

#my-order-detail-exit{
  font-size: 0.8em;
  align-self: flex-start;
  margin: 2em 0 -2em 2em;

}
