.my-order-detail {
  display: none;
}

.my-order-detail-flex {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
  position: relative;
  top: 1em;
}

.my-order-detail-flex > .card{
  display: flex;
  flex-direction: column;
}

#my-order-detail-exit{
  font-size: 0.8em;
  align-self: flex-start;
  margin: 2em 0 -2em 2em;

}
